<h1>Who Am I?</h1>
<p>Hi! I'm Raven. I'm a former politico turned Software Developer. At the moment, I work technologies such as Ruby, Rails, Sinatra, and Bootstrap to name a few. Right now I'm open to new opportunities so feel free to send me an <a href="mailto:covingtonrda@gmail.com?Subject=Hello" target="_top">email.</a> (covingtonrda@gmail.com) and take a look at my resume <a href="https://docs.google.com/document/d/1-uP4sOz1NSpbf1vWkpHXreP6ZylaW4cDhfJUPpv3KV0/edit?usp=sharing" > here </a><p>
<p> When I'm not coding you'll probably find me attempting to be as awesome as Leslie Knope, eating mandarins (those things are amazing), or hanigng out with my mischievous Corgi, Wilson.</p>
<p> I hand coded this blog using Sinatra, Ruby, and Bootstrap. </p>