<h1>Who Am I?</h1>
<p>Hi! I'm Raven. I'm a former politico turned Software Developer. At the moment, I'm studying technologies such as Ruby, Rails, Sinatra, and Bootstrap to name a few.<p>
<p> When I'm not coding you'll probably find me attempting to be as awesome as Leslie Knope, eating mandarins (those things are amazing), or coming up with names for my future Corgi puppy.</p>
<p> I hand coded this blog using Sinatra, Ruby, and Bootstrap. </p>