<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <!-- Third Blog Post -->
      
      <h2>
        <a href="#">I started a book club... by accident</a>
      </h2>
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on March 26, 2015 at 2:37 PM</p>
      <hr>
      
      <hr>
      <p>   
        Let me start off by telling you a little bit about me. I believe in saying yes to everything. It's a decision that that has served me we'll and introduced me to amazing opportunities.</p>

        <p>"Would you like to taste this free sample?" "Yep"<p>
        
        <p>"Are you interested in getting a cup of coffee with me?" "Sure"</p>
        <p>"I'm flying to Brussels. Want to come?" "Um, YES"</p>

        <p>When you say yes, you often find yourself in interesting situations. (Side note: Of course, I'm not urging you to say yes if someone asks you to rob a bank. Unless, you're playing Grand Theft Auto. If that's the case, then totally go for it.)</p>
        
        <p>A few days ago, I asked folks in the Tech 404 slack if anyone could recommend some good programming books to read. A couple of people piped up and said they were interested in reading as well. Then, someone suggested starting a Tech 404 book club. So I did.</p>

        <p>We held our first discussion Tuesday night. Everyone involved felt the discussion went well. People shared their experiences with design as well as their opinion on what makes good design. Originally, the talk was only set to last an hour but we ended up going a half hour over schedule. People had so much to say. It was wonderful. It seems that saying yes served me well once again.</p>

        <p>Join us every other Tuesday at 8pm in the Tech404_book_club channel in the Tech 404 slack. Right now, we're reading Sandi Metz's Practical Object Oriented Design book. See you there.</p>

      <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->

      <hr>

      <!-- Second Blog Post -->
      
      <h2>
        <a href="#">tests, twitter, and teaching</a>
      </h2>
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on February 9, 2015 at 1:45 PM</p>
      <hr>
      
      <hr>
      <p>I’m going to start off here being honest with you guys. I’m in love with the Internet. Like real love. Like The Notebook love. Like the Internet is BAE love. I’m that person you see with my phone (sans case) always in my hand because I’m constantly using apps that allow me to connect with the rest of the world.</p> 

      <p>Oftentimes, all of that can be a huge time drainer. But I’ve found that twitter is one of the most useful sites of the web. It lets you connect with strangers in a way that no other app does. The other week, I was banging my head against the wall because Rspec was just not sticking. Most of my tests were failing and I couldn’t understand why the ones that actually passed worked. Enter twitter. I sent out a tweet along the lines of, “Does anyone know of Rspec material for a beginner?” Almost immediately, people began responding to my tweet and retweeting it. About an hour later, I struck a conversation with a stranger who lives on the other side of the country. He offered to make me a screencast to go over basic Rspec testing. He taught me so much and I feel much more confident about Rspec now. This stranger knew what it like to learn something new and he wanted to help.<p>

      <p>One of the most beautiful things about the developer community is that people are just down right nice. There is always someone out there to help you. If you’re not on twitter yet, you’re making a (*Arrested Development Gob voice*) huge mistake. Twitter will connect you with the people you need to know. Sometimes it might even surprise you. </p>
      <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->

      <hr>

      <!-- First Blog Post -->

      <h2>
        <a href="#">Hello World</a>
      </h2>
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on January 5, 2015 at 1:48 PM</p>
      <hr>
      
      <hr>
      <p>I’ve never blogged before so bare with me, friends. I’m beginning my journey into becoming a Software Engineer. Specifically, I’m learning about to become a Ruby Developer. I’ve managed to cobble together my money and I’m beginning General Assembly’s Web Development Immersive January 12th. My goal with this blog is to document my learning and eventually begin blogging about different technologies. </p>
    <!--   <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->
   

      <hr>
 

      <!-- Pager -->
      <!-- <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Older</a>
        </li>
        <li class="next">
          <a href="#">Newer &rarr;</a>
        </li>
      </ul>
    </div> -->

   <!-- Blog Sidebar Widgets Column -->
    <!-- <div class="col-md-4"> -->

      <!-- Blog Search Well -->
      <!-- <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div> -->
        <!-- /.input-group -->
      <!-- </div> -->

      <!-- Blog Categories Well -->
      <!-- <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
            </ul>
          </div> -->
          <!-- /.col-lg-6 -->
          <!-- <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
            </ul>
          </div>
 -->          <!-- /.col-lg-6 -->
        <!-- </div> -->
        <!-- /.row -->
      <!-- </div> -->
 
      <!-- Side Widget Well -->
      <!-- <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div> --> 
    </div>
  </div>
</div>