<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

       <!-- First Blog Post -->

      <h2>
        Hello World
      </h2>
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on January 5, 2015 at 1:48 PM</p>
      <hr>
      
      <hr>
      <p>I’ve never blogged before so bare with me, friends. I’m beginning my journey into becoming a Software Engineer. Specifically, I’m learning about to become a Ruby Developer. I’ve managed to cobble together my money and I’m beginning General Assembly’s Web Development Immersive January 12th. My goal with this blog is to document my learning and eventually begin blogging about different technologies. </p>
    <!--   <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->