<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <!-- Second Blog Post -->
      
      <h2>
        tests, twitter, and teaching
      </h2>
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on February 9, 2015 at 1:45 PM</p>
      <hr>
      
      <hr>
      <p>I’m going to start off here being honest with you guys. I’m in love with the Internet. Like real love. Like The Notebook love. Like the Internet is BAE love. I’m that person you see with my phone (sans case) always in my hand because I’m constantly using apps that allow me to connect with the rest of the world.</p> 

      <p>Oftentimes, all of that can be a huge time drainer. But I’ve found that twitter is one of the most useful sites of the web. It lets you connect with strangers in a way that no other app does. The other week, I was banging my head against the wall because Rspec was just not sticking. Most of my tests were failing and I couldn’t understand why the ones that actually passed worked. Enter twitter. I sent out a tweet along the lines of, “Does anyone know of Rspec material for a beginner?” Almost immediately, people began responding to my tweet and retweeting it. About an hour later, I struck a conversation with a stranger who lives on the other side of the country. He offered to make me a screencast to go over basic Rspec testing. He taught me so much and I feel much more confident about Rspec now. This stranger knew what it like to learn something new and he wanted to help.<p>

      <p>One of the most beautiful things about the developer community is that people are just down right nice. There is always someone out there to help you. If you’re not on twitter yet, you’re making a (*Arrested Development Gob voice*) huge mistake. Twitter will connect you with the people you need to know. Sometimes it might even surprise you. </p>
      <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div>
  </div>
</div>