<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <!-- Third Blog Post -->
      
      <!-- Title -->
        <h2>I started a book club... by accident</h2>

        <br>
      
      <p class="lead">
        by <a href="index.php">Raven</a>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on March 26, 2015 at 2:37 PM</p>
      <hr>
      
      <hr>
      <p>   
        Let me start off by telling you a little bit about me. I believe in saying yes to everything. It's a decision that that has served me we'll and introduced me to amazing opportunities.</p>

        <p>"Would you like to taste this free sample?" "Yep"<p>
        
        <p>"Are you interested in getting a cup of coffee with me?" "Sure"</p>
        <p>"I'm flying to Brussels. Want to come?" "Um, YES"</p>

        <p>When you say yes, you often find yourself in interesting situations. (Side note: Of course, I'm not urging you to say yes if someone asks you to rob a bank. Unless, you're playing Grand Theft Auto. If that's the case, then totally go for it.)</p>
        
        <p>A few days ago, I asked folks in the Tech 404 slack if anyone could recommend some good programming books to read. A couple of people piped up and said they were interested in reading as well. Then, someone suggested starting a Tech 404 book club. So I did.</p>

        <p>We held our first discussion Tuesday night. Everyone involved felt the discussion went well. People shared their experiences with design as well as their opinion on what makes good design. Originally, the talk was only set to last an hour but we ended up going a half hour over schedule. People had so much to say. It was wonderful. It seems that saying yes served me well once again.</p>

        <p>Join us every other Tuesday at 8pm in the Tech404_book_club channel in the Tech 404 slack. Right now, we're reading Sandi Metz's Practical Object Oriented Design book. See you there.</p>

      <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div>
  </div>
</div>